[submodule "tools/pybind11"]
	path = tools/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "tools/linter"]
	path = tools/linter
	url = https://github.com/genemerewether/linter.git
[submodule "quest_gnc"]
	path = quest_gnc
	url = ../quest_gnc.git
