<?xml version="1.0"?>

<launch>
  <arg name="control_mode" default="attitude"/>
  
  <remap from="spacenav/joy" to="joy"/>
  <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" output="screen">
    <param name="zero_when_static" value="false"/>
    <param name="static_count_threshold" value="3000"/>
    <!--param name="static_trans_deadband" value="40"/-->
    <param name="static_rot_deadband" value="100"/>
  </node>

  <!-- Note that axis IDs are those from the joystick message plus one, to be able to invert axes by specifiying either positive or negative axis numbers.-->
  <!-- Axis 2 from joy message thus has to be set as '3' or '-3'(inverted mode) below-->
  <node name="teleop" pkg="quest" type="teleop" output="screen">
    <rosparam subst_value="true">
      control_mode: $(arg control_mode)
      x_axis: 5
      y_axis: -4

      yaw_axis: 6

      thrust_axis: 3
      thrust_max: 16
      thrust_offset: 4
    </rosparam>

  </node>
</launch>
